@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  header {
    padding-inline: 32px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
  }
  
  header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    max-width: 1400px;
    margin-inline: auto;
    position: relative;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
  }
  
  .nav-user-container {
    display: flex;
    flex-grow: 1;
  }
  
  .courses {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
  }
  
  .courses > img {
    transition: transform 0.2s ease-in-out;
  }
  .courses:hover > img {
    transform: rotate(-180deg);
  }
  
  a {
    text-decoration-line: none;
    color: inherit;
  }
  
  li {
    list-style-type: none;
  }
  
  ul {
    padding-left: 0;
    margin: 0;
  }
  
  .courses ul {
    position: absolute;
    border-radius: 5px;
    border: 1.5px solid #e9eaeb;
    background-color: #fff;
    box-shadow: 0px 4px 10px 0px rgba(30, 27, 27, 0.1);
    top: 150%;
    width: 260px;
    font-size: 14px;
    padding: 16px 24px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
  }
  
  .courses:hover ul {
    opacity: 1;
    pointer-events: all;
    top: 80%;
  }
  
  .courses ul > li + li {
    margin-top: 8px;
  }
  
  .courses ul > li:hover {
    text-decoration-line: underline;
  }
  
  nav {
    margin-inline: auto;
  }
  
  nav > ul {
    display: flex;
    gap: 48px;
  }
  
  nav > ul > li {
    padding-block: 20px;
  }
  
  .user {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 14px;
  }
  
  .user-icon {
    display: flex;
    position: relative;
  }
  
  .green-dot {
    height: 12px;
    width: 12px;
    background-color: #22c55e;
    border-radius: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  
  .close-icon,
  .hamburger-menu {
    display: none;
  }
  
  #hamburger-checkbox {
    display: none;
  }
  
  @media (max-width: 860px) {
    header {
      padding-inline: 16px;
    }
    
    .close-icon,
    .hamburger-menu {
      display: block;
    }
  
    .close-icon {
      margin-left: auto;
      cursor: pointer;
    }
  
    header > div {
      padding-block: 6px;
    }
  
    .nav-user-container {
      display: none;
      position: absolute;
      top: 10px;
      right: 0;
      flex-direction: column-reverse;
      border-radius: 5px;
      border: 1.5px solid #e9eaeb;
      background: #fff;
      box-shadow: 0px 4px 10px 0px rgba(30, 27, 27, 0.1);
      width: 260px;
    }
  
    /* .hamburger-menu:has(input:checked) + .nav-user-container {
      display: flex;
    } */
  
    input:checked + .nav-user-container {
      display: flex;
    }
  
    nav > ul {
      flex-direction: column;
      gap: 0;
    }
  
    nav {
      margin-inline: unset;
      padding-left: 24px;
    }
  
    nav > ul > li {
      padding-block: 8px;
    }
  
    .user {
      border-bottom: 1px solid #e9eaeb;
      padding-inline: 24px;
      padding-block: 8px;
    }
  
    .courses ul {
      left: -24px;
    }
  }
  .logo{

    width: 200px;
    height: 50px;    
  }
  .btn-down{
    border: 2px solid blue ;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    padding: 5px;
    margin: auto;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;


  }
  .btn-down:hover{
    background-color: rgba(255, 166, 0, 0.788);
  }
  .insta{
    height: 60px;
    margin-bottom: -23px;

  }
  .fb{
    height: 60px;
    margin-bottom: -23px;
    margin-top: 0px;
  }
  .wp{
    height: 30px;
    margin-bottom: -12px;
    margin-left: 15px;
    margin-top: 15px;
    
  }
  .wpp{
    margin-left: 16px;
  }
  .hero{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.9rem;
  max-width: 1100px;
  margin: 2rem auto -6rem;
  padding: 10px;
}

.i-image{
    height: 400px  ;
    margin-left: 200px;
    border-radius: 50px;
    margin-top: 40px;
    border: 3px solid orange;
}



  

/* .c-item{
  height: 600px;
  object-fit: cover;
  border-radius: 40px;
}
.c-img{
  height: 100%;
  border-radius: 40px;
}
.coursel{
    
    padding: 50px;
    margin-top: 200px;
    background-color: rgba(128, 128, 128, 0.256);
     
 


} */
.hero2{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  padding: 50px;
  background-color: rgb(241,240,240);
  
}
.img2-hero{
    height: 300px;
    width: 530px;
    margin-right: 20px;
    border-radius: 5px;
   }

.img2{
  height: 100%;
  object-fit: cover;
  border-radius: 14px;
  border: 2px solid orange;
}

.hero2-text{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  flex-direction: column;
}
.hero2-text h6{
  align-self: flex-start;
  padding-bottom: 20px;
  color: blue;
}
.mobile-text{
  display: none;
}


@media (max-width:1061px) and (min-width:900px){
.img2-hero{  
    height: 200px;
    width: 530px;
    margin-right: 20px;
    border-radius: 5px;
   }

.img2{
  height: 100%;
  object-fit: cover;
  border-radius: 14px;
  border: 2px solid orange;

}
.hero2-text p{
  font-size: small;
}
}
@media (max-width:900px) and (min-width:765px){

  .img2-hero{  
      height: 200px;
      width: 530px;
      margin-right: 20px;
      border-radius: 5px;
     }
     .hero2-text p{
      font-size: small;
    }
  .img2{
    height: 100%;
    object-fit: cover;
    border-radius: 14px;
    border: 2px solid orange;
  }
  .hero2-text p{
    align-self: flex-start;
    padding-bottom: 20px;
    font-size: 0.7rem
   
  }
  
  }
  @media (max-width:765px) and (min-width:500px){
 
    .img2-hero{  
      height: 200px;
      width: 530px;
     
     }
  
  .img2{
    height: 100%;
    object-fit: cover;
    border-radius: 14px;
    border: 2px solid orange;
  }

  .hero2-text p{
    align-self: flex-start;
    padding-bottom: 20px;
    font-size: 0.7rem;
    flex-basis: 150px;
   
  }

  .hero2-text{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    flex-direction: column;
  }
  .hero2-text h6{
    align-self: flex-start;
    color: blue;
    
   
  }





  }

  @media (max-width:800px) and (min-width:0px){
    .hero2{

      flex-direction: column;
    }
    .img2-hero{  
      height: 200px;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
     
     }
  
  .img2{
    height: 100%;
    object-fit: cover;
    border-radius: 14px;
    border: 2px solid orange;
  }

  .hero2-text{
    display: none;
  }

  .mobile-text{
    background-color:  rgb(241,240,240) ;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
  }
  .mobile-text h4{
    align-self: flex-start;
  }
  }






















@media (max-width:820px) and (min-width:600px){
    .i-image{
        height: 300px  ;
        margin-left: 40px;
        border-radius: 50px;
        margin-top: 40px;
        border: 3px solid orange;
    }


    
    
}
@media (max-width:600px) and (min-width:410px){
    .i-image{
        height: 300px;
        border: none;
        border-radius: 25px;
        margin-inline: auto !important;
        border: 2px solid orange;
        
      }
    .hear{
        font-size: 1rem;
    }
}
@media (max-width:410px) and (min-width:0px){
    .i-image{
      height: 300px;
      border: none;
      border-radius: 25px;
      margin-inline: auto !important;
      object-fit: cover;
      
    }
    .i-co{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    .hero{
        flex-direction: column;

    }
}

body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
